name: Deploy Website

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - 'dev-*'   # dev-new dev-k8s-stg dev-stg
      - 'feat/**' # feat/new feat/new/button
    # paths-ignore:
    #   - '.github/workflows/*'

  pull_request:
    types:
      - opened
      - closed
      - reopened
    branches:
      - main
      - 'dev-*'   # dev-new dev-k8s-stg dev-stg
      - 'feat/**' # feat/new feat/new/button

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v3
      - name: Install Nodejs
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install Pnpm
        run: npm i -g pnpm
      - name: Cache Dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: deps-node-modules-${{ hashFiles('**/package-lock.json')}}
      - name: Install Dependencies
        run: pnpm install
      - name: Run Test
        # run: |
        #   echo "testing"
        #   echo "test passed"
        run: pnpm test
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v3
      - name: Install Nodejs
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install Pnpm
        run: npm i -g pnpm
      - name: Cache Dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: deps-node-modules-${{ hashFiles('**/package-lock.json')}}
      - name: Install Dependencies
        run: pnpm install
      - name: Check Lint
        # run: |
        #   echo "linting"
        #   echo "lint passed"
        run: pnpm run lint
  build:
    needs:
      - test
      - lint
    runs-on: ubuntu-latest
    outputs:
      script-file: ${{ steps.publishStep.outputs.script-file }}
    steps:
      - name: Get Code
        uses: actions/checkout@v3
      - name: Install Nodejs
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install Pnpm
        run: npm i -g pnpm
      - name: Cache Dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: deps-node-modules-${{ hashFiles('**/package-lock.json')}}
      - name: Install Dependencies
        run: pnpm install
      - name: Build Project
        run: pnpm run build
      - name: Publish script file
        id: publishStep
        run: find dist/assets/*.js -type f -execdir echo '::set-outputs name=script-file::{}' ';'
      - name: upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: dist-file
          path: |
            dist
            package.json
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/download-artifact@v3
        with:
          name: dist-file
      - name: Show Files
        run: ls
      - name: Output files
        run: echo "${{ needs.build.outputs.script-file }}"
      - name: Deploy on Server
        run: |
          echo "deploying ...."
          echo "Deployed"
