name: Deploy Website

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - 'dev-*'   # dev-new dev-k8s-stg dev-stg
      - 'feat/**' # feat/new feat/new/button
    # paths-ignore:
    #   - '.github/workflows/*'

  pull_request:
    types:
      - opened
      - closed
      - reopened
    branches:
      - main
      - 'dev-*'   # dev-new dev-k8s-stg dev-stg
      - 'feat/**' # feat/new feat/new/button

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      # Required to checkout the code
      contents: read
      # Required to put a comment into the pull-request
      pull-requests: write
    steps:
      - name: Get Code
        uses: actions/checkout@v3
      - name: Install Nodejs
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Cache Dependencies
        id: catch-dependencies
        uses: actions/cache@v3
        with:
          path: node_modules
          key: deps-node-modules-${{ hashFiles('**/pnpm-lock.yaml')}}
      - name: Install Pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 7
      - name: Install dependencies
        if: steps.catch-dependencies.outputs.cache-hit != 'true'
        run: pnpm i --frozen-lockfile
      - name: Run Test
        id: run-tests
        run: pnpm test
      - name: Upload Test Coverage
        if: failure() && steps.run-tests.outcome == 'failure'
        uses: actions/upload-artifact@v3
        with:
          name: test-coverage
          path: ./coverage/final.json
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v3
      - name: Install Nodejs
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Cache Dependencies
        id: catch-dependencies
        uses: actions/cache@v3
        with:
          path: node_modules
          key: deps-node-modules-${{ hashFiles('**/pnpm-lock.yaml')}}
      - name: Install Pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 7
      - name: Install dependencies
        if: steps.catch-dependencies.outputs.cache-hit != 'true'
        run: pnpm i --frozen-lockfile
      - name: Check Lint
        run: pnpm run lint
  build:
    needs:
      - test
    runs-on: ubuntu-latest
    outputs:
      script-file: ${{ steps.publishStep.outputs.script-file }}
    steps:
      - name: Get Code
        uses: actions/checkout@v3
      - name: Install Nodejs
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Cache Dependencies
        id: catch-dependencies
        uses: actions/cache@v3
        with:
          path: node_modules
          key: deps-node-modules-${{ hashFiles('**/pnpm-lock.yaml')}}
      - name: Install Pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 7
      - name: Install dependencies
        if: steps.catch-dependencies.outputs.cache-hit != 'true'
        run: pnpm i --frozen-lockfile
      - name: Build Project
        run: pnpm run build
      - name: Publish script file
        id: publishStep
        run: find dist/assets/*.js -type f -execdir echo '::set-outputs name=script-file::{}' ';'
      - name: upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: dist-folder
          path: dist
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Output Script file name
        run: echo "${{ needs.build.outputs.script-file }}"
      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: dist-folder
      - name: Show Files
        run: ls
      - name: Deploy on Server
        id: deploy-page
        uses: actions/deploy-pages@v2
        with:
          artifact_name: dist-folder
          preview: true
          token: "${{github.token}}"
      - name: Show Url
        run: echo "Website Deployed on ${{steps.deploy-page.outputs.page_url}}"
        # run: |
        #   echo "deploying ...."
        #   echo "Deployed"
  report:
    needs:
      - lint
      - deploy
    if: failure()
    runs-on: ubuntu-latest
    steps:
      - name: Report Output
        run: |
          echo "${{ github }}"
          echo "reports"
